<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>
<a href="https://accounts.google.com/o/oauth2/v2/auth
?client_id=609700950942-lmjhqofit9h1mt8g76dokj7734mtja00.apps.googleusercontent.com
&redirect_uri=http://localhost:8080/api/callback
&scope=openid%20email%20profile
&response_type=code">구글 로그인</a>
<!--<a href="https://accounts.google.com/o/oauth2/v2/auth-->
<!--?client_id=609700950942-lmjhqofit9h1mt8g76dokj7734mtja00.apps.googleusercontent.com-->
<!--&redirect_uri=https://taeheoki.shop:443/api/callback-->
<!--&scope=openid%20email%20profile-->
<!--&response_type=code">구글 로그인</a>-->
</body>
</html>